#header {
  width: 100%;
  background: #680000;
  height: 60px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-menu-item {
  padding: 8px;
  font-family: 'Kanit', sans-serif;
  color: black;
  font-weight: 200;
}

.scrim {
  position: fixed;
  background-color: #00000050;
  width: 100%;
  height: 100vh;
  left: 0;
}

.katsu-input {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  min-height: 28px;
  padding: 8px;
  margin-bottom: 24px; border-radius: 8px; width: 95%;
}

.root-item {
  max-width: 800px;
  margin: auto;
}

.root-desktop {
  display: none;
}
.root-mobile {
  display: block;
}

/*.root-desktop {
  display: block;
}

.root-mobile {
  display: none
}

@media only screen and (max-width: 450px), (max-width: 700px) and (orientation: landscape) {
  .root-desktop {
    display: none;
  }
  .root-mobile {
    display: block;
  }
}*/

.header-block {
  height: 100%;
  //background: green;
  display: inline-block;
}

.header-section {
  height: 100%;
  //background: yellow;
  float: right;
  padding: 0px 10px 0px 10px;
  display: block;
}

.header-section-text {
  margin: auto;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.cta-button {
  background: #FF9D2D;
  color: #311E1E;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.cta-button:hover {
  background: #BB6A0C;
}

.katsu-link {
  text-decoration: none;
}

.medium-button {
  border-radius: 6px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
}

@media only screen and (max-width: 450px) {
  .medium-button {
    border-radius: 12px;
  }
}

.menu-item {
  border-radius: 6px;
  background: white;
}

@media only screen and (max-width: 450px) {
  .menu-item {
    border-radius: 12px;
  }
}

.menu-item-title {
  font-family: 'Mochiy Pop P One', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 4px;
  word-break: break-word;
}

.menu-item-description {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 300;
  word-break: break-word;
}

.insta-promo {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: white;
  font-size: 16px;
}

.bottom-info-title {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 8px;
}

.bottom-info-description {
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.link-item-icon {
  padding: 4px 4px 4px 0px;
}

.contact-item-icon {
  padding: 8px 8px 8px 8px;
}

.link-item-text {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: white;
  font-weight: 100;
  text-decoration: none;
}

.contact-item-text {
  margin: auto 0px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: white;
  font-weight: 200;
  text-decoration: none;
}

.action-button {
  background: #FF9D2D;
  color: #311E1E;
  font-family: 'Mochiy Pop P One', sans-serif;
  padding: 0px 12px 0px 12px;
  border-radius: 6px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
}

.option-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.front-page-title {
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}

@media only screen and (max-width: 450px) {
  .front-page-title {
    font-size: 20px;
    line-height: 28px;
  }
}

.light-front-page-title {
  color: #311E1E;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}

.front-page-paragraph {
  color: white;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 450px) {
  .front-page-paragraph {
    font-weight: 300;
  }
}

@media only screen and (max-width: 450px) {
  .website-in-dev {
    display: none;
  }
}

.light-front-page-paragraph {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.theContainer {
  width: 300px;
  height: 100px;
  background-color: lightblue;
}

.theContainer img {
  max-width: 100%;
  max-height: 100%;
}
